@ghost: #FFF;
@sea: #22517B;
@greysea: #54778B;
@sunlight: #F99E1A;

@app-bg-color: linear-gradient(90deg, @sea, @greysea);
@app-header-text-color: @ghost;
@app-header-height: 75px;
@app-header-padding: 0 1em;
@app-header-text-font-family: monospace;

@nav-menu-text-size: 40px;

@player-name-text-color: @ghost;
@player-name-text-size: 25px;

@sub-heading-text-font-family: "Comic Sans MS", "Comic Sans";
@sub-heading-text-size: 20px;
@sub-heading-text-margin: 5px;
@sub-heading-text-color: @sunlight;

@character-name-text-font-family: @app-header-text-font-family;
@character-name-text-style: italic;
@character-name-text-size: @sub-heading-text-size;

@stats-bg-color: linear-gradient(90deg, lighten(@sea, 20%), lighten(@sea, 40%));
@stats-border: 1px solid @greysea;

@element-separation-margin: 20px;
