<div class="top-menu">
    <div class="profile-menu top-menu-item">
        <img src="img/profile-image.png" width="50" height="50" />
    </div>
    <div class="profile-name menu-item">
        <h2>Aria Requiem</h2>
    </div>
</div>
<ui-view></ui-view>
<div class="page-footer">
    <a class="home" ui-sref="home" ui-sref-active="active">
        <div class="overwatch-logo top-menu-item">
            <img src="img/overwatch-logo.png" width="114" height="50" />
        </div>
    </a>
    <a class="character-selection" ui-sref="characterSelection">PLAY</a>
    <a class="stats" ui-sref="stats">STATS</a>
</div>
