<div class="top-menu">
    <div class="overwatch-logo top-menu-item">
        <img src="img/overwatch-logo.png" width="114" height="50" />
    </div>
    <div class="profile-menu top-menu-item">
        <img src="img/profile-image.png" width="50" height="50" />
    </div>
    <div class="profile-name menu-item">
        <h2>Aria Requiem</h2>
    </div>
</div>
<h2>Choose your character:</h2>
    <!-- <character-tile ng-repeat="character in $ctrl.characters" ng-bind={{character}}></character-tile> -->
    <div class="character-tile-container">
        <div class="character-tile" ng-repeat="character in $ctrl.characters">
            <img src="img/{{character}}.jpg" />
            <div><p class="character-name">{{character.toUpperCase()}}</p></div>
        </div>
    </div>
<h3>Characters to choose from: {{$ctrl.characters.length}}</h3>
