.character-tile-container {
    display:flex;
    flex-wrap:wrap;
}

.character-tile {
    width: 150px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.character-tile:hover {
    border-top: 5px solid lightblue;
    border-bottom: 5px solid lightblue;
}
